---
const year = new Date().getFullYear();
---

<footer class="w-full max-w-3xl mx-auto py-4 md:py-8">
    <p class="text-sm text-center">&copy; {year} Ferris Lucas. All rights reserved.</p>
</footer>