---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto flex items-center justify-between py-4 md:py-8">
    <a href="/" class="text-lg font-medium">{siteConfig.name}</a>
</header>